$primary-color: #5BBCFF;
$border-radius: 10px;
$box-shadow: 2px 2px 2px 2px $primary-color;
$font-size: 0.9em;
$gap-large: 50px;
$gap-medium: 25px;
$padding: 10px 20px;
$mobile-max-width: 425px;

.home {
    display: flex;
    justify-content: center;
    gap: $gap-large;
    margin-bottom: 10px;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $gap-medium;

        .links-modal {
            position: fixed;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 400px;
            gap: 15px;
            padding: 20px;
            border-radius: 20px;
            box-shadow: 2px 2px 2px 2px gray;
            background: #0c192c;
            z-index: 100;

            &__title {
                width: 100%;
                text-align: center;
            }

            .form-group {
                display: flex;
                flex-direction: column;
                gap: 5px;

                input, select {
                    width: 300px;
                }
            }

            .actions {
                display: flex;
                justify-content: center;
                width: 100%;
                gap: 20px;
            }
        }
    }

    .title {
        display: flex;
        align-items: center;
        gap: $gap-medium;

        @keyframes need-be-authorize {
            from {
                width: 35px;
            }

            to {
                width: 275px;
            }
        }
    }

    .create-document {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__action {
            display: flex;
            flex-direction: column;
            align-items: left;
        }

        .alert-success {
            margin: 20px 0;
        }
    }

    .documents,
    .comments {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 1.5rem;

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            flex: 1 1 calc(33.333% - 1.5rem);

            .container {
                display: flex;
                flex-direction: column;
                align-items: center;
                box-shadow: 2px 2px 2px 2px aqua;
                border-radius: 10px;
                padding: 10px;
                gap: 15px;
                cursor: default;

                .links {
                    display: flex;
                    justify-content: flex-start;
                    font-size: 0.8em;
                    opacity: 0.5;
                    padding: 5px 10px;
                    border-radius: 20px;
                    border: 1px solid green;
                    cursor: pointer;
                }

                .title,
                .description {
                    display: flex;
                    justify-content: center;
                    padding: 10px;
                    cursor: default;
                }

                .title {
                    width: 350px;
                    border-radius: 20px;
                    box-shadow: 2px 2px gray;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .expire-at {
                    opacity: 0.5;
                    font-size: 0.7em;
                }
            }

            .actions {
                display: flex;
                gap: 20px;

                button {
                    font-size: 12px;
                }
            }

            .open-comments {
                font-size: 14px;
                opacity: 0.6;
                cursor: pointer;
            }
        }

        .add-comment,
        .add-comment__action {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .add-comment {
            gap: 5px;
        }
    }

    .comments {
        max-height: 300px;
        width: 300px;
        overflow-y: scroll;

        &__item {
            padding: 10px;
        }
    }

    .search-document {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .manage {
        display: flex;
        gap: 30px;
    }
}

@media (max-width: $mobile-max-width) {
    .home {
        flex-direction: column;
        gap: $gap-medium;

        &__item {
            gap: $gap-medium;
        }

        .title {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    }
}