$primary-color: #5BBCFF;
$border-radius: 10px;
$box-shadow: 2px 2px 2px 2px $primary-color;
$font-size: 0.9em;
$gap-large: 50px;
$gap-medium: 25px;
$padding: 10px 20px;
$mobile-max-width: 425px;

.home {
    display: flex;
    justify-content: center;
    gap: $gap-large;
    margin-bottom: 10px;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $gap-medium;
    }

    .title {
        display: flex;
        align-items: center;
        gap: $gap-medium;

        @keyframes need-be-authorize {
            from {
                width: 35px;
            }

            to {
                width: 275px;
            }
        }
    }

    .create-document {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__action {
            display: flex;
            flex-direction: column;
            align-items: left;
        }
    }

    .documents, .comments {
        display: flex;
        justify-content: center;

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 2px 2px 2px 2px aqua;
            border-radius: 10px;
            padding: 20px;
            margin: 10px;
            gap: 15px;
            
            .actions {
                display: flex;
                gap: 20px;

                button {
                    font-size: 12px;
                }
            }

            .open-comments {
                font-size: 14px;
                opacity: 0.6;
                cursor: pointer;
            }
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .add-comment, .add-comment__action {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .add-comment {
            gap: 5px;
        }
    }

    .comments {
        flex-direction: column;
    }

    .search-document {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .manage {
        display: flex;
        gap: 30px;
    }
}

@media (max-width: $mobile-max-width) {
    .home {
        flex-direction: column;
        gap: $gap-medium;

        &__item {
            gap: $gap-medium;
        }

        .title {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    }
}
