$primary-color: #5BBCFF;
$border-radius: 10px;
$box-shadow: 2px 2px 2px 2px $primary-color;
$font-size: 0.9em;
$gap-large: 50px;
$gap-medium: 25px;
$padding: 10px 20px;
$mobile-max-width: 425px;

.home {
    display: flex;
    justify-content: center;
    gap: $gap-large;
    margin-bottom: 10px;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $gap-medium;
    }

    .title {
        display: flex;
        align-items: center;
        gap: $gap-medium;

        @keyframes need-be-authorize {
            from {
                width: 35px;
            }

            to {
                width: 275px;
            }
        }
    }

    .documents {
        box-shadow: 2px 2px 2px 2px aqua;
        border-radius: 10px;
        padding: 20px;

        &__item {
            display: flex;
            flex-direction: column;
            margin: 20px 10px;
        }
    }

    .manage {
        display: flex;
        gap: 30px;
    }
}

@media (max-width: $mobile-max-width) {
    .home {
        flex-direction: column;
        gap: $gap-medium;

        &__item {
            gap: $gap-medium;
        }

        .title {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    }
}
